* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 5vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.div-titulo-dash,
.div-botones-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}


#btn-regresar {
    width: 80px;
    padding: 4px;
    background: linear-gradient(135deg, #1b62ef, #2398ff);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;
}


body {
   min-height: 100vh;
  background: linear-gradient(135deg, #1a4a7a 0%, #2d8a5a 100%);
  background-attachment: fixed;
  font-family: sans-serif;
  margin: 0;
}

.div-verTickets {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    
    padding: 5px;
}

.div-verTick-left {
  width: 70%;
  overflow-y: auto;
  scrollbar-width: thin;
}


.div-verTick-right {
  width: 20%;
  border: 2px solid black;
   border-radius: 5px;
  
}
 
/*

.div-verTick-right-sup{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background: blue;
}
    */

#btn-eliminar-tickets{
      width: 80px;
    padding: 4px;
    background: linear-gradient(135deg, #ef1b1b, #ff6274);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;
    
}